*.exe
/App6AboutUI/App6AboutUI/bin
/App6AboutUI/App6AboutUI/obj
/App4WithDataBind/App4WithDataBind/bin
/App4WithDataBind/App4WithDataBind/obj
/App7/App7/bin
/App7/App7/obj
/App9/App6AboutUI/obj
/App9/App6AboutUI/bin